<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/Users/mrezasalehi/.virtualenvs/base/bin:/Users/mrezasalehi/.autojump/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/VMware Fusion.app/Contents/Public:/Library/TeX/texbin:/usr/local/go/bin:/usr/local/MacGPG2/bin:/opt/X11/bin:/Library/Apple/usr/bin:/Applications/Wireshark.app/Contents/MacOS</string>
    </dict>
    <key>Label</key>
    <string>app.checker</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/mrezasalehi/.virtualenvs/base/bin/python</string>
    <string>/Users/mrezasalehi/Desktop/personal-projects/appointment-checker/web_driver_app_checker.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>120</integer>
    <key>StandardOutPath</key>
    <string>/tmp/app.checker.stdout</string>
    <key>StandardErrorPath</key>
    <string>tmp/app.checker.stderr</string>
    <key>UserName</key>
    <string>mrezasalehi</string>
    <key>InitGroups</key>
    <true/>
  </dict>
</plist>